*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'font';
  src: url('./fonts/fonnts.com-Suisse_Intl_Regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}